<html><head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    </head>
	<script>
	.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 20;
    left: 100%;
    margin-top: 30px;
}

.hide{
  display:none;
}


</script>
	<body>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span>DASHBOARD</span></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="{{ url_for('dashboard') }}">Home</a>
                    </li>
                     <li>
					    <a href="{{ url_for('addhost') }}">Add Host</a>
                        </li>
                        <li>
                            <a href="{{ url_for('addgroup') }}">Add Group</a>
                        </li>
                        <li class="dropdown-submenu hide">
                        <a class="test" tabindex="-1" href="addpermission.html">PERMISSION<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                             <li><a tabindex="-1" href="#">UPLOAD</a></li>
                            <li><a tabindex="-1" href="addpermission.html">UNCOMMENT</a></li>
							</ul>
                       </li>
					
                        <li class="dropdown-submenu hide">
                        <a class="test" tabindex="-1" href="#">PLAYBOOK<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                             <li>
                  <a tabindex="-1" href="uploadrole.html">UPLOAD ROLE</a>
                </li>
                <li>
                  <a tabindex="-1" href="uploadplaybook.html">UPLOAD PLAYBOOK</a>
                </li>
                <li>
                  <a tabindex="-1" href="runsingleyml.html">RUN SINGLE YML</a>
                </li>
                          </ul>
                       </li>
                    
                    <li>
                        <a href="{{url_for('signout')}}">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<div class="section">

	<div class="panel panel-primary" style="margin-left:250px; margin-right:250px;"><div class="panel-heading"><h3 class="panel-title">Panel title</h3></div><div class="panel-body">
	<div class="container">
	<div class="row"><div class="col-md-12">
	<form class="form-horizontal" action="{{ url_for('insertgroup') }}" role="form" method="post" id="register-form" novalidate="novalidate">
	<div class="form-group">
	<label class="control-label" for="exampleInputEmail1">Group Name</label>
	<input class="form-control" style="width: 250px;" id="groupname" name="groupname" placeholder="Enter GROUP NAME" type="text"></div>
	<button type="submit" class="btn btn-default">Submit</button></form>
	</div></div></div></div></div></div>

</body>
<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>
</html>
